.form-control {
    margin: 5px;
}

.form-header {
    margin-left: 5px;
}

.form-response {
    margin-left: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td {
    text-align: center;
}

table, th, tr, td {
    border: 1px solid black;
}

.search-control {
    margin-top: 10px;
}

.search-bar.search-control {
    width: 20%;
}

.search-table {
    margin-top: 20px;
}
